/* Feuille de style de Nantflix */

body { /* Base */
    margin: 0;
    font-family: sans-serif;
	margin-top: 140px;
	background-color:black;
	color: white;
}

.navbar-dark { /* Amendements pour la navbar */
	background-color: rgba(15, 17, 93, 0.800);
	color: white;
}

.table-row{ /* Liens de table */
	cursor:pointer;
}


/* Header */
/* Déprécié
.navbar-fixed-top {
	overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(62, 106, 239);
	color: white;
}
header h1 {
    padding-left: 4%;
}


nav {
    top: auto;
    list-style-type: none; pas de puces
    overflow: hidden;
    background-color: rgba(15, 17, 93, 0.800);
    max-height: 300px;
}
nav li {
    float: left; float : équivalent à inline block
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover { Un background pour la case lors du passage de la souris
    background-color: rgba(7, 8, 41, 0.800);
}
nav li a:visited {
    color: white;
}
nav li a:link {
    color: white;
}
*/